@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>GitHub Access</h1>
<button id="btnRepos">Repos</button>
<button id="btnIssues">Issues</button>
<button id="btnCommits">Commits</button>
<button id="btnIssuesPrivate">Issues - Private</button>
<div id="divResult">

</div>