@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Enter a GitHub Username to See Their Statistics</h1>
<div class="inputContainer">
    <form>
        <label class="inLabel" for="username">Please Input a GitHub User</label><br>
        <input class="inText" id="textBox" type="text" id="username" name="userName"><br>
    </form>
    <button class="inButton" onclick="handleInput()">Submit User</button>
</div>

<div class="userProfile">

</div>
    
    
    
    @*<div class="userNameContainer">
        <form>
            <label class="userNameLabel" for="username"> Enter a User</label><br />
            <input class="userNameText" id="userTextBox username" type="text" name="userName" /><br />
        </form>
        <button class="btnUser" onclick="handleUsernameInput()">Search Users</button>
    </div>
    <div class="repoContainer">
        <form>
            <label class="repoLabel" for="repo"> Enter a User</label><br />
            <input class="repoText" id="repoTextBox repo" type="text" name="repo" /><br />
        </form>
        <button class="btnRepos" onclick="handleRepoInput()">Search Repos</button>
    </div>*@

@*<button id="btnRepos">Repos</button>
<button id="btnIssues">Issues</button>
<button id="btnCommits">Commits</button>
<button id="btnIssuesPrivate">Issues - Private</button>*@
<div id="divResult">

</div>